.box {
  width: 500px;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 10px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}

.box > i {
  font-size: 20px;
  color: #777;
}

.box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}



@media only screen and (max-width: 730px) {
  .box {
    width: 200px;
    height: 30px;
  }
  .box > input {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-height: 785px) {
  .box {
    width: 400px;
    height: 30px;
  }
  .box > input {
    height: 40px;
    width: 100px;
  }
}
