* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('https://s1.1zoom.me/b5153/940/Vienna_Austria_Pond_Palace_Belvedere_Palace_Night_525714_1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding: 20px 70px;
  color: #fff;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container {
  font-weight: 100;
}
.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

.future-forecast {
  background: rgba(96, 96, 96, 0.6);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: rgb(0, 0, 0);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: white;
  border-radius: 50px;
  text-align: center;
}

.future-forecast .today .temp {
  font-size: 18px;
  padding-top: 15px;
  color: white
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 16px;
  }
}
