@font-face {
  font-family: Publica Sans Rounded;
  src: url('../fonts/PublicaSansRound-Rg.otf');
}

* {
  font-family: Publica Sans Rounded, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('https://s1.1zoom.me/b5153/940/Vienna_Austria_Pond_Palace_Belvedere_Palace_Night_525714_1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding: 20px 70px;
  color: #fff;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container {
  font-weight: 100;
}
.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.weather {
  font-size: 20px;
  margin-top: 5px;
}

.date-container .date {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .temp {
  font-size: 60px;
}
.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
  display: flex;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
  display: flex;
}

.future-forecast {
  background: rgba(96, 96, 96, 0.6);
  padding: 25px;
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: white;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
}

.future-forecast .today .temp {
  font-size: 20px;
  padding-top: 15px;
  color: white;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  padding: 15px;
}

.weather-forecast .weather-item .day {
  padding: 5px 15px;
  background: white;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
}

.weather-forecast .weather-item .temp {
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.extraContainer {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.54);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-top: 30px;
}

.extraInfo {
  font-size: 20px;
}

.extraValue {
  margin-bottom: 15px;
  font-size: 28px;
}

@media only screen and (max-width: 1600px) {
  .container {
    padding: 20px;
    margin-bottom: 100px;
  }

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 16px;
  }

  .date-container .time {
    font-size: 30px;
  }
  .date-container .temp {
    font-size: 20px;
  }

  .weather {
    font-size: 20px;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone {
    font-size: 25px;
    display: flex;
  }
  .place-container .country {
    display: flex;
    font-size: 15px;
    margin-top: 5px;
  }

  .extraContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  .extraInfo {
    font-size: 14px;
  }
  .extraValue {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1400px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
  .future-forecast .weather-forecast .day {
    font-size: 17px;
  }
  .future-forecast .weather-forecast .w-icon {
    width: 75px;
  }
  .future-forecast .weather-forecast .temp {
    font-size: 17px;
  }
  .future-forecast .today .day {
    font-size: 17px;
  }
  .future-forecast .today .temp {
    font-size: 17px;
  }
  .extraInfo {
    font-size: 16px;
  }
  .extraValue {
    font-size: 20px;
  }
}

@media only screen and (max-width: 280px) {
  .extraInfo {
    font-size: 14px;
  }
  .extraValue {
    font-size: 18px;
  }
}

@media only screen and (max-width: 414px) {
  .extraInfo {
    font-size: 14px;
  }
  .extraValue {
    font-size: 18px;
  }
  .future-forecast .weather-forecast .day {
    font-size: 16px;
  }
  .future-forecast .weather-forecast .w-icon {
    width: 65px;
  }
  .future-forecast .weather-forecast .temp {
    font-size: 16px;
  }
  .future-forecast .today .day {
    font-size: 16px;
  }
  .future-forecast .today .temp {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .current-info .date-container .time #am-pm {
    font-size: 16px;
  }
  .current-info .date-container .time {
    font-size: 16px;
  }
  .current-info .date-container .date {
    font-size: 16px;
  }
  .current-info .date-container .temp {
    font-size: 16px;
  }
  .current-info .date-container .temp {
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .future-forecast {
    background-color: transparent;
  }
  .future-forecast .today .temp {
    font-size: 14px;
  }
  .future-forecast .today .day {
    font-size: 14px;
  }
  .future-forecast .today .w-icon {
    width: 30px;
  }
  .place-container .extraContainer .extraInfo {
    font-size: 14px;
  }
  .place-container .extraContainer .extraValue {
    font-size: 12px;
  }
  .place-container .extraContainer {
    margin-top: 0px;
  }
  .future-forecast .weather-forecast .day {
    font-size: 14px;
  }
  .future-forecast .weather-forecast .w-icon {
    width: 65px;
  }
  .future-forecast .weather-forecast .temp {
    font-size: 14px;
  }
}
